/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* COLORS =======================================
Pink: #cc446a;
Light Cream: #fafaf0;
Light Blue: #6BBFD8;
================================================ */

/* Global ======================================= */
body,html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2a2a2a;
    background-color: #fafaf0;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

p {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300;
}

h1 {
    color: #cc446a;
    font-size: 3em;
    font-family: 'Qwigley', cursive;
    font-weight: normal;
}

h3 {
    color: #fafaf0;
    font-size: 1.2em;
    font-weight: 400;
}

h2 {
    color: #fafaf0;
    font-size: 1.1em;
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

/* Header ======================================= */
#header {
    display: none;
}

header {
    width: 100%;
    margin: 0 auto;
}

#logo {
    text-align: center;
    margin-top: 0.5em;
}

header img {
    max-width: 30%;
    height: auto;
}

.nav {
    text-align: center;
    padding: 0;
}

.nav li {
    display: inline;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.nav li a {
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 2px solid #cc446a;
}

/* Main Content ================================== */
/*main {
    width: 96%;
    padding: 0 2%;
    margin: auto;
    max-width: 960px;
}*/

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* About ============================== */
#desktop-about {
    display: none;
}

#mobile-about {
    width: 96%;
    padding: 0 2%;
}

#mobile-about h1 {
    margin-bottom: 0;
}

#mobile-about p {
    text-align: left;
}

.about-photo {
    width: 60%;
    margin: 0 auto;
    height: auto;
}

#mobile-about span {
    color: #cc446a;
}

.btn {
    background-color: #cc446a;
    width: 30%;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    color: #fafaf0;
    display: block;
    text-align: center;
    font-weight: 300;
    /*box-shadow: 2px 2px 0px #dadada;*/
    margin: 2em auto;
}

.border {
    width: 75%;
    margin: 0 auto;
    border-bottom: solid 1px #cc446a;
    padding-bottom: 0.2em;
}

/* Projects ============================== */

#projects h1 {
    text-align: center;
}

.work-card {
    background-color: #cc446a;
    margin-bottom: 2em;
    color: #fafaf0;
}

.work-card img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.work-card h3 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

.work-card p {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: lighter;
}

.work-card ul {
    padding: 0;
    margin: 0;
}

.work-info {
    padding: 0 0.5em 0.5em 0.5em;
}

.work-info li {
    display: inline;
    text-align: left;
    border: solid 1px #fafaf0; 
    border-radius: 35px;
    padding: 0.3em;
    margin-right: 0.76em;
    line-height: 2.5em;
    font-weight: 300;
    font-size: 0.85em;
}

#ux {
    padding: 0.3em 0.7em;    
}

.back-to-top {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: auto;
    z-index: 100;    
}

/*#coming-soon {
    width: 100%;
    height: auto;
    background-color: #cc446a;
}*/

/* Footer ============================== */

footer {
    width: 100%;
    background-color: #cc446a;
    margin-top: 5em;
    padding: 1em 0;
    text-align: center;
}

footer img {
    width: 11%;
    height: auto;
}

footer ul {
    margin-top: 1em;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

footer a, footer p {
    color: #fafaf0;
    font-weight: 300;
}

i {
    padding-right: 0.5em;
}

footer p {
    font-size: 0.8em;
    padding-top: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */

/* Nav Flexbox ============================== */ 
    #mobile-header {
        display: none;
    }

    #header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #nav-wrapper {
        display: flex;
        max-width: 960px;
    }

    .logo {
        margin: 0.5em 0;
        text-align: center;
        width: 40%;
    }

    .logo img {
        max-width: 50%;
        margin: 0;
        padding: 0;
    }

    .logo a {
        padding: 0;
        margin: 0;
    }

    #header ul {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    #header li {
        list-style: none;
        display: inline;
        display: flex;
        align-items: center;
        font-size: 1.1em;
        font-weight: 300;
    }

    #header a:hover {
        color: #cc446a;
        font-weight: 400;
    }

    .right-nav {
        padding-left: 0;
        padding-right: 40px;
    }

    /*header ul {
        display: flex;
        /*flex-wrap: wrap;
        justify-content: space-around;
    }*/



/* Nav ==============================
    #mobile-header {
        display: none;
    } 

    #header {
        display: block;
    }

    nav {
        height: 100px;
        top: 0;
        left: 0;
        border-bottom: 3px solid #cc446a;
    }

    nav ul {
        list-style: none;
        text-align: center;
        margin-right: 1em;
    }
    
    nav ul li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
    }

    nav a:hover {
        color: #cc446a;
    }
    

    #header img {
        width: 20%;
        height: auto;
        margin: 0;
        padding: 0;
    }
*\

/* About Float ==============================
     #mobile-about {
        display: none;
    }

    #desktop-about {
        display: block;
        background-color: #cc446a;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 350px;
    }

    .about-wrapper {
        max-width: 960px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .about-description {
        width: 50%;
        float: left;
        color: #fafaf0;
        padding-left: 3em;
    }
    
    .about-description h1 {
        color: #fafaf0;
        margin-bottom: 0;
        margin-top: 0.5em;
    } 

    .about-description p {
        margin-top: 0;
        font-size: 1.1em;
    }

    span {
        font-weight: 500;
    }

    .about-photo {
        float: left;
        width: 30%;
        height: auto;
        padding-top: 3em;
        margin-bottom: 0;
    }*/

    /* About ============================== */
    #mobile-about {
        display: none;
    }

    #desktop-about {
        display: flex;
        background-color: #cc446a;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    .about-wrapper {
        display: flex;
        max-width: 960px;
    }

    .about-description h1 {
        color: #fafaf0;
        margin-bottom: 0;
        margin-top: 0.5em;
        font-size: 3em;
    } 

    .about-description p {
        margin-top: 0;
        font-size: 0.95em;
    }

    .about-description {
        width: 60%;
        padding-left: 1em;
        margin: 0;
        color: #fafaf0;
        font-size: 1.1em;
    }

    span {
        font-weight: 500;
    }

    .about-photo {
        display: flex;
        width: 30%;
        height: auto;
        padding-top: 2em;
        align-items: flex-end;
        margin-left: 4em;
    }

/* Projects ============================== */
    .work-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        /*background-image: url("bkgd-icons.png");*/
    }

    #projects h1 {
        font-size: 3.25em;
    }

    .work-grid {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .work-card {
        width: 310px;
        height: auto;
        margin-right: 1em;
    }

    .work-card:hover {
        opacity: 0.7;
        background: #6BBFD8;
        cursor: pointer;
    }

    .back-to-top {
        display: none;
    }

/* Footer ============================== */
    footer h2 {
        font-size: 1.4em;
    }

    footer a {
        font-size: 1.3em;
    }

    footer img {
        width: 7%;
        height: auto;
    }
}  

@media only screen and (min-width: 900px) {

/* Nav ============================== */   
    #header {
        border-bottom: 2px solid #cc446a;
    }

/* About ============================== */
    .about-description p {
        font-size: 1.1em;
    }

/* Projects ============================== */   
    .work-card {
        margin-right: 2.5em;
        margin-left: 2.5em;
    }

/* Footer ============================== */   
    footer img {
        width: 5%;
        height: auto;
    }

    footer h2 {
        font-size: 1.5em;
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
